<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dashboard</title>
  <!-- Import materialize.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css">
</head>
<body>
  
  <!-- Navbar -->
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">PostIT</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light btn" href="sass.html">Register</a></li>
          <li><a class="waves-effect waves-light btn" href="badges.html">Login</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a class="waves-effect waves-light btn" href="sass.html">Register</a></li>
          <li><a class="waves-effect waves-light btn" href="badges.html">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
  
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Compiled and minified JavaScript for Materialize.css -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js"></script>
  <script>
    $( document ).ready(function(){
      $(".button-collapse").sideNav();
    })
  </script>
</body>
</html>