<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Groups</title>
  <!-- Import materialize.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css">
  <!-- Import Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

  <!-- Create Group Modal Structure -->
  <div id="createGroupModal" class="modal">
    <div class="modal-content">
      <h4>Create New Group</h4>
      <form action="" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="text" class="validate" required>
            <label for="password">Group Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="text" class="validate" required>
            <label for="password">Group Description</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="text">
            <label for="password">Add Users</label>
          </div>
        </div>
        <div class="row right-align">
          <div class="input-field col s12">
            <input class="btn" type="submit" value="Create Group">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="">
    <div class="row">
      <!-- sidebar -->
      <div class="col s12 m3 l2 teal accent-4"  style="padding-top: 2rem;">
        <a href="./dashboard.html" class="waves-effect waves-light btn" style="margin-bottom: 1rem;">Groups</a>
        <a class="waves-effect waves-light btn modal-trigger" href="#createGroupModal" style="margin-bottom: 1rem;">Create New Group</a>        
        <a href="" class="waves-effect waves-light btn" style="margin-bottom: 1rem;">Logout</a>
      </div>
      <!-- Main page -->
      <div class="col s12 m9 l10">
        <div class="col s12 m12 l9" style="margin-top: 2rem;">
          <h5 class="center-align">ANDELA BOOTCAMP MESSAGE BOARD</h5>
          <div class="row">
            <!-- message cards -->
            <div class="col s12">
              <div class="card teal darken-1 hoverable">
                <div class="card-content white-text">
                  <h6 class="" style="display: inline-block;">@troy34 <small style="padding-left: 1rem;">2:15pm</small></h6>
                  <span class="red darken-3" style="padding: .1rem .4rem; border-radius:4px; margin-left: 1rem;">critical</span>
                  <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action right-align">
                  <i class="material-icons" style="cursor: pointer;">delete</i>
                </div>
              </div>
              <div class="card teal darken-1 hoverable">
                <div class="card-content white-text">
                  <h6 class="" style="display: inline-block;">@troy34 <small style="padding-left: 1rem;">2:15pm</small></h6>
                  <span class="amber accent-4" style="padding: .1rem .4rem; border-radius:4px; margin-left: 1rem;">urgent</span>
                  <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action right-align">
                  <i class="material-icons" style="cursor: pointer;">delete</i>
                </div>
              </div>
              <div class="card teal darken-1 hoverable">
                <div class="card-content white-text">
                  <h6 class="" style="display: inline-block;">@troy34 <small style="padding-left: 1rem;">2:15pm</small></h6>
                  <span class="light-blue darken-3" style="padding: .1rem .4rem; border-radius:4px; margin-left: 1rem;">normal</span>
                  <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action right-align">
                  <i class="material-icons" style="cursor: pointer;">delete</i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l3">
          <div class="row">
            <div class="col s12 m12 l12 teal accent-4" style="padding: 1rem;">
              <h6 class="white-text center-align" style="margin-bottom: 2rem;">GROUP STATISTICS</h6>
              <div class="col s6 m6 l6 center-align">
                <i class="material-icons white-text large">group</i>
                <h5 class="white-text">15</h5>
              </div>
              <div class="col s6 m6 l6 center-align">
                <i class="material-icons white-text large">message</i>
                <h5 class="white-text">30</h5>
              </div>
            </div>
            <!-- post message div -->
            <div class="col s12 m12 l12">
              <div class="hide post-message">
                <h5 class="uppercase text-center">Post a new message</h5>
                <section class="">
                  <form action="">
                    <label for="message-title"></label>
                    <input class="login-input" type="text" name="" id="message-title" placeholder="Message Title">
                    <label for="message-body"></label>
                    <textarea class="login-input form-control" name="" id="" placeholder="Message body"></textarea>
                    <label for="priority"></label>
                    <select class="login-input form-control" name="" id="priority">
                      <option value="normal">Normal</option>
                      <option value="urgent">Urgent</option>
                      <option value="normal">Critical</option>
                    </select>
                    <input class="btn" type="submit" value="Send">
                  </form>
                </section>
              </div>
              <button class="btn margin-v2 post-message-toggle" onclick="postMessage()">Send A Broadcast Message</button> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Compiled and minified JavaScript for Materialize.css -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js"></script>
  <!--custom script-->
  <script src="./script/script.js"></script>
  <script>
    $( document ).ready(function(){
      $(".button-collapse").sideNav();
      // Create group modal
      $('.modal').modal();
    })
  </script>
</body>
</html>