<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style.css">
  <title>Post Message</title>
</head>

<body>
  <!--registration modal-->
  <div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="regModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="container-fluid padding2">
          <!-- Registration form -->
          <div class="tab-pane fade in" id="register">
            <h4 class="">Register</h4>
              <form action="">
                <label for="username"></label>
                <input type="text" name="" id="username" class="login-input" placeholder="Enter a username">
                <label for="password"></label>
                <input type="password" name="" id="password" class="login-input" placeholder="Enter a password">
                <label for="email"></label>
                <input type="email" name="" id="email" class="login-input" placeholder="Enter your email address">
                <input class="btn btn-primary login-input" type="submit" value="Submit">
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!--login modal-->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="container-fluid padding2">
          <!-- Login Form -->
          <div class="tab-pane fade in active" id="login">
            <h4 class="">Login</h4>
              <form action="">
                <label for="username"></label>
                <input type="text" name="" id="username" class="login-input" placeholder="Enter your username">
                <label for="password"></label>
                <input type="password" name="" id="password" class="login-input" placeholder="Enter your password">
                <input class="btn btn-primary login-input" type="submit" value="Login">
              </form>
              <a href="./reset-password.html" class="">Forgot Password</a>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!--page header-->
  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <!--button for toggling menu in mobile and logo-->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <p class="text-white">PostIT</p>
        </a>
        <!--button for toggling menu in mobile and logo ends-->
      </div>
      <!--header nav items-->
      <nav id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <button type="button" data-toggle="modal" data-target="#regModal" class="btn btn-primary navbar-btn">Register</button>
          <button type="button" data-toggle="modal" data-target="#loginModal" class="btn btn-primary navbar-btn">Login</button>
        </ul>
      </nav>
      <!--header nav items end-->
    </div>
  </header>

  <section>
    <div class="container-fluid flex-center">
      <div class="col-md-6 col-sm-8 col-xs-12 padding-top">
        <h3 class="uppercase text-center">Post a new message</h3>
        <section class="">
          <form action="">
            <label for="message-title"></label>
            <input class="login-input" type="text" name="" id="message-title" placeholder="Message Title">
            <label for="message-body"></label>
            <textarea class="login-input" name="" id="" cols="30" rows="10" placeholder="Message body"></textarea>
            <label for="group-list"></label>
            <select class="login-input" name="" id="group-list">
              <option value="">Select a group</option>
              <option value="group1">Group One</option>
              <option value="group2">Group Two</option>
            </select>
            <label for="priority"></label>
            <select class="login-input" name="" id="priority">
              <option value="">Select a priority</option>
              <option value="normal">Normal</option>
              <option value="urgent">Urgent</option>
              <option value="normal">Critical</option>
            </select>
            <input class="login-input btn btn-primary" type="submit" value="Send">
          </form>
        </section>
      </div>
    </div>
  </section>

  <!--jQuery-->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <!--bootstrap js-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!--fontawesome-->
  <script src="https://use.fontawesome.com/f061fecdbc.js"></script>
  <!--custom script-->
  <script src="./script/script.js"></script>
</body>

</html>